{% comment %}
# Workaround for curlylint complaining about tags within a jinja comment block
<!--

Generates a table cell (<td>) with customizable attributes and an optional clickable link.

Arguments:
- `size` (str): Width within the Bootstrap row, as in `col-<size>`. Use "fill" to stretch with `col`.
- `class_attr` (str): Additional CSS classes for the <td> tag.
- `extra_attr` (str): Additional attributes for the <td> tag.
- `title` (str): Optional title attribute for the <td> tag. Defaults to `text`.
- `url_name` (str): Optional URL name to generate a clickable link using Django's `{% url %}` tag.
- `url` (str): Optional URL for the clickable link, used if `url_name` is not provided.
- `position` (str): Optional URL fragment, appended to end of the address as "#<position>".
- `wrapper` (str): Optional HTML element to wrap the content within the <td> tag.
- `text` (str): The main text content of the cell.
- `emoji` (str): An optional emoji to append to the text.

Note:
- Either `url_name` or `url` should be provided for the link to be generated.

-->
{% endcomment %}
<td class="{% if size %}col{% if size != "fill"%}-{{ size }}{% endif %}{% endif %} {{ class_attr }}" {{ extra_attr }} title="{% firstof title text '' %}">
    {% if url_name or url or position %}
        <a href="{% if url_name %}{% url url_name id %}{% elif url %}{{ url }}{% endif %}{% if position %}#{{ position }}{% endif %}" class="clickable-cell">
    {% endif %}
    {% if wrapper %}<{{ wrapper }}>{% endif %}{{ text|default:'&nbsp;' }} {{ emoji }}{% if wrapper %}</{{ wrapper }}>{% endif %}
    {% if url_name or url or position %}
        </a>
    {% endif %}
</td>
