{% load styles %}
{% load strutils %}

{% with url_name='views.kcidb.tests' id=occurrence.kcidb_test.iid position="result-"|addstr:occurrence.kcidb_testresult_id style=occurrence.kcidb_test|get_test_style %}
  <tr class="d-flex {{ style }} border-left-status table-status">
    <td class="col-1">
      <a href="{% url url_name id %}" class="clickable-cell">
        <i title="Waived test (this result does not affect overall test result)"
           class="fas {% include 'waived_icon.html' with waived=occurrence.kcidb_test.waived %}"></i>
        <i class="{{ style.icon_name }} text-status"></i>
        {% if occurrence.is_regression %}
          <span class="badge badge-danger">REGRESSION</span>
        {% endif %}
      </a>
    </td>

    {% include 'tables/cell_clickable.html' with size='3' text=occurrence.kcidb_test.id|remove_prefix:strip_id_prefix extra_attr='align="center"' %}
    {% if occurrence.kcidb_testresult %}
        {% include 'tables/cell_clickable.html' with size='3' text=occurrence.kcidb_test.test.name %}
        {% include 'tables/cell_clickable.html' with size='3' text=occurrence.kcidb_testresult.name %}
    {% else %}
        {% include 'tables/cell_clickable.html' with size='6' text=occurrence.kcidb_test.test.name %}
    {% endif %}

    <td class="col-2">
      <div class="row">
        <div class="col-6" align="right">
          {% include 'user_ball.html' with user=occurrence.created_by timestamp=occurrence.created_at title='Tagged by' %}
        </div>
        <div class="col-6 hide" align="right">
          <!-- Button to remove this test from the issue -->
          <form action={% url 'views.kcidb.issues' %} method="post" onsubmit="return confirmRemoveTest();" title='Remove'>
            {% csrf_token %}
            <input type="hidden" id="action" name="action" value="remove">
            <input type="hidden" id="issue_id" name="issue_id" value="{{ grouped_issue.issue.id }}">
            {% if occurrence.kcidb_testresult %}
            <input type="hidden" id="testresult_iids" name="testresult_iids" value="{{ occurrence.kcidb_testresult.iid }}">
            {% else %}
            <input type="hidden" id="test_iids" name="test_iids" value="{{ occurrence.kcidb_test.iid }}">
            {% endif %}
            <input type="hidden" id="redirect_to" name="redirect_to" value="{{ request.get_full_path }}">
            <button type="submit" class="close">
              &times;
            </button>
          </form>
          <!-- End button to remove this test from the issue -->
        </div>
      </div>
    </td>

  </tr>
{% endwith %}
