{% load cache %}
{% load styles %}
{% load strutils %}

<div class="table-responsive">
  <table class="table table-hover table-sm mb-0" width="100%" cellspacing="0" id="checkoutsTable" data-checkbox="true">
    <thead>
      <tr class="d-flex show-decreased-opacity">
        <th class="col-6">
          {% if table_is_editable %}
            <input type="checkbox" class="checkbox select-all decrease-opacity mx-2" id="select_all" title="Select all">
          {% endif %}
          ID
        </th>
        <th class="col-1">Tree</th>
        <th class="col-1">Branch</th>
        <th class="col-2">Version</th>
        <th class="col-2">Start Time</th>
      </tr>
    </thead>
    <tbody>
      {% for checkout in checkouts %}
        {% cache DEFAULT_CACHE_TTL_S table_kcidb_simple_row checkout.iid issue.id table_is_editable %}
        {% with url_name='views.kcidb.checkouts' id=checkout.iid position="issue-"|addstr:issue.id %}
          <tr class="d-flex show-decreased-opacity">
            <td class="col-6">
              {% if table_is_editable %}
              <input type="checkbox" class="checkbox decrease-opacity mx-2" name="checkout_iid" value="{{ checkout.iid }}">
              {% endif %}
              <div style="display: inline-block;">
                <a href="{% url url_name id %}#{{ position }}" class="clickable-cell">
                  {{ checkout.id }}
                </a>
              </div>
            </td>
            {% include 'tables/cell_clickable.html' with size='1' text=checkout.tree.name %}
            {% include 'tables/cell_clickable.html' with size='1' text=checkout.git_repository_branch %}
            {% if checkout.kernel_version %}
              {% include 'tables/cell_clickable.html' with size='2' text=checkout.kernel_version %}
            {% else %}
              {% include 'tables/cell_clickable.html' with size='2' text=checkout.git_commit_hash title='Commit hash'%}
            {% endif %}
            {% include 'tables/cell_clickable.html' with size='2' text=checkout.start_time %}
          </tr>
        {% endwith %}
        {% endcache %}
      {% endfor %}
    </tbody>
  </table>
  {% if checkouts.trimmed_elements %}
  <div>
    <small>+ {{ checkouts.trimmed_elements }} records</small>
  </div>
  {% endif %}
</div>
