{% comment %}
Generates a list of links showing `name` for each of the given Artifact in `artifacts`.

Arguments:
- `artifacts` (list(Artifact)): List or queryset of Artifacts.
{% endcomment %}
<ul>
  {% for file in artifacts %}
  <li>
    <a href="{{ file.url }}" >{{ file.name }}</a>
  </li>
  {% endfor %}
</ul>
