{% extends "base.html" %}
{% load artifacts %}
{% load strutils %}
{% load styles %}
{% load timetag %}

{% block title %}
Build {{ build.id }}
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'views.kcidb.checkouts' build.checkout.iid %}">Checkout {{ build.checkout.id }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Build {{ build.id | remove_prefix:build.checkout.id }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

{% with kind='checkout' item=checkout %}
{% include 'modal_new_issue_occurrence.html' %}
{% endwith %}

<!-- Start dropdown menu -->
<div class="col-xl-4 col-md-6 mb-2">
  <div class="row">
    <span class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a href="{% url 'kcidb.builds.get' build.iid %}" class="dropdown-item">View in API</a>
        {% if perms.datawarehouse.change_kcidbbuild or perms.datawarehouse.change_kcidbtest %}
        <a class="dropdown-item" data-toggle="modal" data-target="#issueOccurrenceModal" href="#">Associate Issue</a>
        {% endif %}
      </div>
    </span>
  </div>
</div>
<!-- End dropdown menu -->

<div class="row">
  <div class="col-xl-6 col-md-6 mb-2">
    {% with obj=build.valid style=build.valid|get_style %}
    <div class="card {{ style }} border-left-status shadow h-100 py-0">
      <div class="card-body">
        <div class="text-xs font-weight-bold text-uppercase mb-1">Build Status</div>
        <div class="h5 mb-0 font-weight-bold text-status">{{ build.valid|yesno:'Passed,Failed,Running' }}</div>
        <div class="h2 mb-0 float-right"><i class="{{ style.icon_name }} text-status"></i></div>
      </div>
    </div>
    {% endwith %}
  </div>

  {% if build.stats_tests_run_count %}
  <div class="col-xl-6 col-md-6 mb-2">
    {% with obj=build.stats_tests_status style=build.stats_tests_status|get_style:build.stats_tests_actionable %}
    <div class="card {{ style }} border-left-status shadow h-100 py-0">
      <div class="card-body">
        <div class="text-xs font-weight-bold text-uppercase mb-1">Test Status</div>
        <div class="h5 mb-0 font-weight-bold text-status">
          {{ obj|get_status_text }}
          {% if not build.stats_tests_actionable and obj in "MFE" %}
            <span class="text-secondary"> all waived/triaged</span>
          {% endif %}
        </div>
        <div class="h2 mb-0 float-right">{% include 'icons_test_status.html' with object=build %}</div>
      </div>
    </div>
    {% endwith %}
  </div>
  {% endif %}
</div>

<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card">
      <div class="card-header {{ build.valid|get_style }} border-left-status">
        <div class="row">
          <div class="col align-self-center">
            <label class="mb-0">Build ID: </label>
            {{ build.id }}
          </div>
          <div class="col" align="right">
            {% include 'link_gitlab_mergerequest.html' with checkout=build.checkout %}
            {% for component in build.provenance.all %}
            {% include 'link_provenance_component.html' %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <label>Comment:</label> {{ build.comment|default:'' }}
            <br/>
          </div>

          <div class="col-6">

            <div class="row">
              <div class="col">
                <i class="fas fa-clock"></i>
                <label>Start Time:</label> {{ build.start_time|default:'' }}
              </div>
              <div class="col" >
                <i class="fas fa-hourglass-half"></i>
                <label>Duration:</label> {{ build.duration|default:''|timetag }}
              </div>
            </div>

          </div>

          <div class="col-6">
            <label>Architecture:</label> {{ build.get_architecture_display|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Config Name:</label> {{ build.config_name|default:'' }}
            <br/>
          </div>

          <div class="col-6">
            <label>Package Name:</label> {{ build.package_name|default:'' }}
            <br/>
          </div>

          {% if build.debug is not None %}
          <div class="col-6">
            <label>Debug:</label> {{ build.debug|yesno|title }}
            <br/>
          </div>
          {% endif %}

          <div class="col-12">
            <label>Compiler:</label> {{ build.compiler.name|default:'' }}
            <br/>
          </div>

          <div class="col-12">
            <label>Command:</label> {{ build.command|default:'' }}
            <br/>
          </div>

          <div class="col-12">
            <label>Config URL:</label>
            <a href="{{ build.config_url|default:'' }}">{{ build.config_url|default:'' }}</a>
            <br/>
          </div>

          <div class="col-12">
            <label>Log URL:</label>
            <a href="{{ build.log.url|default:'' }}">{{ build.log.url|default:'' }}</a>
            <br/>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="row text-muted">
          <div class="col" align="center">Running: {{ build.stats_tests_running_count }}</div>
          <div class="col" align="center">Skipped: {{ build.stats_tests_skip_count }}</div>
          <div class="col" align="center">Passed: {{ build.stats_tests_pass_count }}</div>
          <div class="col" align="center">Missed: {{ build.stats_tests_miss_count }}</div>
          <div class="col" align="center">Errored: {{ build.stats_tests_error_count }}</div>
          <div class="col" align="center">Failed: {{ build.stats_tests_fail_count }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if build.log_excerpt %}
{% include 'card_log_excerpt.html' with obj=build %}
{% endif %}

{% if build.stats_tests_untriaged %}
{% include 'card_kcidb_untriaged.html' with object=build strip_id_prefix=build.id %}
{% endif %}

<!-- Display all build issues. -->
{% for grouped_issue in grouped_issues %}
  {% include 'card_issue_occurrence.html' with strip_id_prefix=build.id %}
{% endfor %}

{% if build.input_files.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        Input Files
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-sm" width="100%" cellspacing="0">
            <tbody>
              {% for file in build.input_files.all %}
                <tr class="d-flex">
                  {% include 'tables/cell_clickable.html' with size='12' text=file.url url=file.url %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if build.output_files.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        Output Files
      </div>
      <div class="card-body">
        <div class="table-responsive">
          {% include 'list_artifacts.html' with artifacts=build.output_files.all %}
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
  {% if build.start_time|older_than_artifacts_default_expiry %}
    <div class="alert alert-warning" role="alert">
      <i class="fas fa-snowplow"></i>
      <strong>Heads up!</strong> This build is pretty old, artifacts may be deleted already.
    </div>
  {% endif %}
{% endif %}

{% if tests.exists %}
<div class="row">
  <div class="col-xl-12 mb-2">
    <div class="card shadow">
      <div class="card-header py-3">
        List of Tests
      </div>
      <div class="card-body">
        {% include 'tables/table_kcidb_tests.html' with hide_build_columns=True strip_id_prefix=build.id %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% include 'card_actions.html' with object=build %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
  var url = window.location.href;
  if (url.indexOf('#issueoccurrence') != -1) {
      $('#issueOccurrenceModal').modal('show');
  }
</script>

<script>
  $(".rotate").click(function(){
    $(this).toggleClass("down")  ;
  })
</script>
{% endblock %}
