{% extends "base.html" %}
{% load styles %}
{% load getattribute %}

{% block title %}
Tests
{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Tests</li>
  </ol>
</nav>
{% endblock %}

{% block content %}
<form id="tests-filter" class="form-inline" action="" method="get">
  <fieldset class="form-group">
    <legend class="col-form-label col-sm-2 pt-0">Checkout</legend>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" name="tree_filter" class="form-control border-0 small" placeholder="Tree Filter" value="{{ tree_filter|default:'' }}"
      title="Tree name filter. Supports regex syntax.">
    </div>

    <div class="input-group mb-2 mr-sm-2">
      <input type="text" name="kernel_version_filter" class="form-control border-0 small" placeholder="Kernel Version Filter, e.g. MR ID" value="{{ kernel_version_filter|default:'' }}"
      title="Kernel Version filter. Supports regex syntax.">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend class="col-form-label col-sm-2 pt-0">Build</legend>
    <div class="input-group mb-2 mr-sm-2">
      <select class="form-control" id="arch" name="arch_filter">
        <option disabled selected hidden>Architecture</option>
        <option value="">(Any)</option>
        {% for arch in models_ArchitectureEnum %}
        <option value="{{ arch.label }}" {% if arch_filter == arch.label %}selected{% endif %}>{{ arch.label }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group mb-2 mr-sm-2">
      <select class="form-control" name="package_name_filter">
        <option disabled selected hidden>Package Name</option>
        <option value="">(Any)</option>
        {% for package_name in package_names %}
        <option value="{{ package_name }}" {% if package_name_filter == package_name %}selected{% endif %}>{{ package_name }}</option>
        {% endfor %}
      </select>
    </div>
  </fieldset>


  <fieldset class="form-group">
    <legend class="col-form-label col-sm-2 pt-0">Test</legend>

    <div class="input-group mb-2 mr-sm-2">
      <input type="text" name="test_filter" class="form-control border-0 small" placeholder="Test Filter" value="{{ test_filter|default:'' }}"
      title="Test name filter. Supports regex syntax.">
    </div>
    <div class="input-group mb-2 mr-sm-2">
      <select class="form-control" id="result" name="result_filter">
        <option disabled selected hidden>Status</option>
        <option value="">(Any)</option>
        {% for result in models_ResultEnum %}
        <option value="{{ result.label }}" {% if result_filter == result.label %}selected{% endif %}>{{ result.label }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="input-group mb-2 mr-sm-2">
      <select class="form-control" id="issues_tagged" name="issues_tagged_filter">
        <option disabled selected hidden>Issues tagged</option>
        <option value="">(Any)</option>
        <option value="True" {% if issues_tagged_filter == 'True' %}selected{% endif %}>Yes</option>
        <option value="False" {% if issues_tagged_filter == 'False' %}selected{% endif %}>No</option>
      </select>
    </div>

    <div class="input-group mb-2 mr-sm-2">
      <input type="text" name="host_filter" class="form-control border-0 small" placeholder="Host Filter" value="{{ host_filter|default:'' }}"
      title="Host filter. Supports regex syntax.">
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend class="col-form-label col-sm-2 pt-0">Subtest</legend>
    <div class="input-group mb-2 mr-sm-2">
      <input type="text" name="testresult_filter" class="form-control border-0 small" placeholder="Subtest Filter" value="{{ testresult_filter|default:'' }}"
      title="Subtest name filter. Supports regex syntax.">
    </div>

    <div class="input-group mb-2 mr-sm-2">
      <select class="form-control" name="testresult_status_filter">
        <option disabled selected hidden>Subtest Status</option>
        <option value="">(Any)</option>
        {% for result in models_ResultEnum %}
        <option value="{{ result.label }}" {% if testresult_status_filter == result.label %}selected{% endif %}>{{ result.label }}</option>
        {% endfor %}
      </select>
    </div>
  </fieldset>

  <div class="input-group mb-2 mr-sm-2">
    <input type="checkbox" id="sort_by_start_time" name="sort_by_start_time" class="form-check-input form-control border-0 small" placeholder="Sort by Start Time" value="True" {% if sort_by_start_time %}checked{% endif %}
    title="Sort by Start Time. Filters out tests without start_time.">
    <label class="form-check-label" for="sort_by_start_time">Sort by Start Time</label>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Filter</button>
</form>

<div class="card shadow mb-4">
  <div class="card-body">
    {% include 'tables/table_kcidb_tests.html' with strip_id_prefix='' %}
  </div>
</div>

{% include 'paginator.html' %}

{% endblock %}

{% block script %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock %}
